.agent h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #404040;
  font-size: 1.75rem;
}

.agent h1:not(:first-child) {
  margin: 1.5rem 0;
  margin-top: 2rem;
}

.agent hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  height: 0;
  border: 0;
}

.agent pre {
  font-family: monospace, monospace;
  font-size: 1em;
  border: 0;
  border-radius: 4px;
  background: transparent;
  padding: 1rem;
  tab-size: 2;
  color: #404040;
  font-family: Menlo, monospace;
  font-size: 14px;
  margin: 0 0 1.5rem 0;
}

.agent pre code {
  font-family: Menlo, monospace;
  line-height: 1.2;
}

.agent abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

.agent b {
  font-weight: bolder;
}

.agent strong {
  font-weight: bolder;
}

.agent code {
  font-family: monospace, monospace;
  font-size: 1em;
}

.agent kbd {
  font-family: monospace, monospace;
  font-size: 1em;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 0.1em;
  padding: 0.1em 0.6em;
  text-shadow: 0 1px 0 #fff;
}

.agent samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

.agent .btn1 {
  margin-right: 100px;
}

.agent small {
  font-size: 80%;
}

.agent sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  bottom: -0.25em;
}

.agent sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

.agent button {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  -webkit-appearance: none;
  display: inline-block;
  border: 0px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.agent button::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border: 0;
  padding: 0;
}

.agent button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.agent button:hover {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent button:focus {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent button:active {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
}

.agent optgroup {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.agent select {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
  color: #404040;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) right center no-repeat;
  line-height: 1;
}

.agent select:hover {
  border: 1px solid #c5c5c5;
}

.agent select:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent select:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent select::-ms-expand {
  display: none;
}

.agent textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
  overflow: auto;
  height: auto;
}

.agent textarea:hover {
  border: 1px solid #c5c5c5;
}

.agent textarea:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent textarea:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='button'] {
  -webkit-appearance: button;
  -webkit-appearance: none;
  display: inline-block;
  border: 0px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.agent [type='button']::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border: 0;
  padding: 0;
}

.agent [type='button']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.agent [type='button']:hover {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent [type='button']:focus {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent [type='button']:active {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent [type='reset'] {
  -webkit-appearance: button;
  -webkit-appearance: none;
  display: inline-block;
  border: 0px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.agent [type='reset']::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border: 0;
  padding: 0;
}

.agent [type='reset']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.agent [type='reset']:hover {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent [type='reset']:focus {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent [type='reset']:active {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent [type='submit'] {
  -webkit-appearance: button;
  -webkit-appearance: none;
  display: inline-block;
  border: 0px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.agent [type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
  border: 0;
  padding: 0;
}

.agent [type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.agent [type='submit']:hover {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent [type='submit']:focus {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent [type='submit']:active {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent fieldset {
  padding: 0.35em 0.75em 0.625em;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 1rem;
  margin: 1.5rem 0;
}

.agent legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  padding: 0 0.5rem;
  font-weight: 600;
}

.agent progress {
  vertical-align: baseline;
}

.agent [type='checkbox'] {
  box-sizing: border-box;
  padding: 0;
}

.agent [type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

.agent [type='number'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='number']::-webkit-inner-spin-button {
  height: auto;
}

.agent [type='number']::-webkit-outer-spin-button {
  height: auto;
}

.agent [type='number']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='number']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='number']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

.agent [type='search']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='search']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='search']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.agent details {
  display: block;
}

.agent summary {
  display: list-item;
}

.agent template {
  display: none;
}

.agent [hidden] {
  display: none;
}

.agent html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}



.agent figure {
  margin: 0;
}

.agent body {
  color: #404040;
  background-color: white;
  font-size: 1rem;
}

.agent p {
  margin: 0 0 1.5rem 0;
}

.agent ol {
  margin: 0 0 1.5rem 0;
}

.agent ol li ol {
  margin-bottom: 0;
}

.agent ul {
  margin: 0 0 1.5rem 0;
}

.agent ul li ul {
  margin-bottom: 0;
}

.agent dl {
  margin: 0 0 1.5rem 0;
}

.agent table {
  margin: 0 0 1.5rem 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

.agent h2 {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #404040;
  font-size: 1.5rem;
}

.agent h2:not(:first-child) {
  margin: 1.5rem 0;
  margin-top: 2rem;
}

.agent h3 {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #404040;
  font-size: 1.25rem;
}

.agent h3:not(:first-child) {
  margin: 1.5rem 0;
  margin-top: 2rem;
}

.agent h4 {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #404040;
  font-size: 1.1rem;
}

.agent h4:not(:first-child) {
  margin: 1.5rem 0;
}

.agent h5 {
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #404040;
  font-size: 1rem;
}

.agent h5:not(:first-child) {
  margin: 1.5rem 0;
}

.agent a {
  color: #0366ee;
  text-decoration: none;
}

.agent a:hover {
  color: #0246a2;
  text-decoration: underline;
}

.agent a:active {
  color: #0246a2;
  text-decoration: underline;
}

.agent a:focus {
  color: #0246a2;
  text-decoration: underline;
}

.agent mark {
  background: #ffeea8;
  padding: 0 0.2rem;
}

.agent blockquote {
  margin: 0 0 0 0;
  border-left: 16px solid #f0f0f0;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}

.agent blockquote cite {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: right;
}

.agent:not(pre)>code {
  color: #404040;
  background: transparent;
  font-family: Menlo, monospace;
  font-size: 14px;
  padding: 0 0.2rem;
  border: 1px solid #dedede;
  border-radius: 4px;
}

.agent dt {
  font-weight: 600;
}

.agent dd {
  margin-bottom: 0.5rem;
}

.agent .full-container {
  max-width: 100%;
  padding: 0 1rem;
}

.agent .container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.agent .small-container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.agent .medium-container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.agent .content-section {
  padding: 30px 0;
}

.agent .flex-small {
  padding-left: 1rem;
  padding-right: 1rem;
  flex-basis: 100%;
  margin-bottom: 1rem;
}

.agent .flex-large {
  padding-left: 1rem;
  padding-right: 1rem;
  flex-basis: 100%;
  margin-bottom: 1rem;
}

.agent .flex-row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.agent .clearfix::before {
  content: ' ';
  display: block;
}

.agent .clearfix::after {
  content: ' ';
  display: block;
}

.agent .clearfix:after {
  clear: both;
}

.agent .text-left {
  text-align: left;
}

.agent .text-right {
  text-align: right;
}

.agent .text-center {
  text-align: center;
}

.agent .text-justify {
  text-align: justify;
}

.agent .block {
  display: block;
}

.agent .inline-block {
  display: inline-block;
}

.agent .inline {
  display: inline;
}

.agent .vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.agent .responsive-image {
  max-width: 100%;
  height: auto;
}

.agent .show {
  display: block !important;
}

.agent .hide {
  display: none !important;
}

.agent .invisible {
  visibility: hidden;
}

.agent .no-padding-top {
  padding-top: 0;
}

.agent .no-padding-bottom {
  padding-bottom: 0;
}

.agent .padding-top {
  padding-top: 2rem;
}

.agent .padding-bottom {
  padding-bottom: 2rem;
}

.agent .no-margin-top {
  margin-top: 0;
}

.agent .no-margin-bottom {
  margin-bottom: 0;
}

.agent .margin-top {
  margin-top: 2rem;
}

.agent .margin-bottom {
  margin-bottom: 2rem;
}

.agent .alternate-background {
  background: #fafafa;
  color: #404040;
}

.agent .space-between {
  justify-content: space-between;
}

.agent .justify-center {
  justify-content: center;
}

.agent .align-center {
  align-items: center;
}

.agent .screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.agent .button {
  -webkit-appearance: none;
  display: inline-block;
  border: 0px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.agent .button:hover {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent .button:focus {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent .button:active {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent .button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.agent a.button {
  -webkit-appearance: none;
  display: inline-block;
  border: 0px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.agent a.button:hover {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent a.button:focus {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent a.button:active {
  border: 0px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}

.agent a.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.agent .accent-button {
  color: #ffffff;
  border: 1px solid #29de7d;
  background: #29de7d;
}

.agent .accent-button:hover {
  color: #ffffff;
  border: 1px solid #1cb864;
  background: #1cb864;
}

.agent .accent-button:focus {
  color: #ffffff;
  border: 1px solid #1cb864;
  background: #1cb864;
}

.agent .accent-button:active {
  color: #ffffff;
  border: 1px solid #1cb864;
  background: #1cb864;
}

.agent a.accent-button {
  color: #ffffff;
  border: 1px solid #29de7d;
  background: #29de7d;
}

.agent a.accent-button:hover {
  color: #ffffff;
  border: 1px solid #1cb864;
  background: #1cb864;
}

.agent a.accent-button:focus {
  color: #ffffff;
  border: 1px solid #1cb864;
  background: #1cb864;
}

.agent a.accent-button:active {
  color: #ffffff;
  border: 1px solid #1cb864;
  background: #1cb864;
}

.agent .muted-button {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}

.agent .muted-button:hover {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: transparent;
}

.agent .muted-button:focus {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: transparent;
}

.agent .muted-button:active {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: transparent;
}

.agent a.muted-button {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}

.agent a.muted-button:hover {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: transparent;
}

.agent a.muted-button:focus {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: transparent;
}

.agent a.muted-button:active {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: transparent;
}

.agent .round-button {
  border-radius: 40px;
}

.agent a.round-button {
  border-radius: 40px;
}

.agent .square-button {
  border-radius: 0;
}

.agent a.square-button {
  border-radius: 0;
}

.agent .full-button {
  display: block;
  width: 100%;
}

.agent a.full-button {
  display: block;
  width: 100%;
}

.agent [type='color'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='color']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='color']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='color']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='date'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='date']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='date']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='date']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='datetime'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='datetime']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='datetime']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='datetime']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='datetime-local'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='datetime-local']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='datetime-local']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='datetime-local']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='email'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='email']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='email']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='email']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='month'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='month']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='month']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='month']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='password'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='password']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='password']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='password']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='tel'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='tel']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='tel']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='tel']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='text'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='text']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='text']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='text']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='url'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='url']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='url']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='url']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='week'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='week']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='week']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='week']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='time'] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

.agent [type='time']:hover {
  border: 1px solid #c5c5c5;
}

.agent [type='time']:focus {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='time']:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}

.agent [type='range'] {
  width: 100%;
}

.agent label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 0.5rem;
}

.agent input.has-error {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent input.has-error:hover {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent input.has-error:focus {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent input.has-error:active {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent select.has-error {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent select.has-error:hover {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent select.has-error:focus {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent select.has-error:active {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent textarea.has-error {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent textarea.has-error:hover {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent textarea.has-error:focus {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent textarea.has-error:active {
  border: 1px solid #d33c40;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

.agent input.is-success {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent input.is-success:hover {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent input.is-success:focus {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent input.is-success:active {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent select.is-success {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent select.is-success:hover {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent select.is-success:focus {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent select.is-success:active {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent textarea.is-success {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent textarea.is-success:hover {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent textarea.is-success:focus {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent textarea.is-success:active {
  border: 1px solid #29de7d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

.agent::-webkit-input-placeholder {
  color: #9a9a9a;
}

.agent::-moz-placeholder {
  color: #9a9a9a;
}

.agent:-moz-placeholder {
  color: #9a9a9a;
}

.agent:-ms-input-placeholder {
  color: #9a9a9a;
}

.agent thead th {
  border-bottom: 2px solid #dedede;
}

.agent td {
  border-bottom: 1px solid #dedede;
  text-align: left;
  padding: 0.5rem;
}

.agent th {
  text-align: left;
  padding: 0.5rem;
}

.agent caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab;
}

.agent .striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.agent .contain-table {
  overflow-x: auto;
  font-size: 0.9vw;
}

@media (min-width: 600px) {
  .agent h1 {
    font-size: 2.25rem;
  }

  .agent h1:not(:first-child) {
    margin-top: 2.5rem;
  }

  .agent h2 {
    font-size: 2rem;
  }

  .agent h2:not(:first-child) {
    margin-top: 2.5rem;
  }

  .agent h3 {
    font-size: 1.75rem;
  }

  .agent h3:not(:first-child) {
    margin-top: 2.5rem;
  }

  .agent h4 {
    font-size: 1.5rem;
  }

  .agent h5 {
    font-size: 1.25rem;
  }

  .agent .content-section {
    padding: 60px 0;
  }

  .agent .flex-small {
    flex: 1;
    margin-bottom: 0;
  }

  .agent .flex-small.half {
    flex: 0 0 calc(1 / 2 * 100%);
  }

  .agent .flex-small.one-fourth {
    flex: 0 0 calc(1 / 4 * 100%);
  }

  .agent .flex-small.three-fourths {
    flex: 0 0 calc(3 / 4 * 100%);
  }

  .agent .flex-small.one-third {
    flex: 0 0 calc(1 / 3 * 100%);
  }

  .agent .flex-small.two-thirds {
    flex: 0 0 calc(2 / 3 * 100%);
  }

  .agent .split-form label {
    text-align: right;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }

  .agent .contain-table {
    width: 100%;
  }
}

@media (min-width: 1000px) {
  .agent .flex-large {
    flex: 1;
    margin-bottom: 0;
  }

  .agent .flex-large.half {
    flex: 0 0 calc(1 / 2 * 100%);
  }

  .agent .flex-large.one-fourth {
    flex: 0 0 calc(1 / 4 * 100%);
  }

  .agent .flex-large.three-fourths {
    flex: 0 0 calc(3 / 4 * 100%);
  }

  .agent .flex-large.one-third {
    flex: 0 0 calc(1 / 3 * 100%);
  }

  .agent .flex-large.two-thirds {
    flex: 0 0 calc(2 / 3 * 100%);
  }
}